.card-recipe {
  flex-flow: 1 1 auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 15px 10px;
  max-width: 250px;
  overflow: hidden;
  position: relative;
  top: 100px;
  min-width: 200px;
  height: fit-content;
}

.card-recipe a {
  color: black;
  text-decoration: none;
  background-color: rgb(253, 253, 252);
}

.card-recipe-image {
  width: 100%;
}

.card-recipe-name {
  font-size: 20px;
  font-weight: 700;
  padding: 0 12px;
}

.card-recipe-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

/*
.favorite {
  background-color: #ff0000;
  padding: 3px 9px;
} */

.list-of-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 2em 0 15pc 0;

  min-width: 150px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.sharing {
  background-color: #007bff;
  padding: 3px 9px;
}
