.footer {
  background-color: white;
  bottom: 0;
  height: 15vh;
  margin: auto;
  position: fixed;
  width: 100%;
}

.footBar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.drink,
.explorer,
.food {
  display: flex;
  padding: 10px 0;
}
