.header {
  max-height: 300px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.topbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-around;
  margin: auto;
}

.explorer button {
  background-color: transparent;
  border: 0.5px transparent;
}

.titulo {
  align-content: center;
  display: flex;
  font-size: 26px;
  font-weight: 600;
}
