.header {
  /* max-height: 300px; */
  position: fixed;
  top: 0;
  height: fit-content;
  width: 100%;
  z-index: 0;
}

.topbar {
  background-color: whitesmoke;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}

.explorer button {
  background-color: transparent;
  border: 0.5px transparent;
}

.titulo {
  background-color: transparent;
  align-content: center;
  display: flex;
  font-size: 36px;
  font-weight: 600;
}
