/* SearchBar.css individual style by Elisângelo */
.radioSearch {
  color: #1c1d1d;
  font-weight: 500;
}

.radio-set {
  display: flex;
  font-size: 0.85em;
  justify-content: space-around;
  margin: 0.5em;
  width: 90%;
  
}

.searchBar {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1em auto 0px;
  width: 95%;
}

.seachBox input {
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  color: black;
  font-size: 18px;
  margin: auto;
  padding: 5px;
  width: 95%;
}
