/* SearchBar.css individual style by Elisângelo */
.radioSearch {
  color: #1c1d1d;
  font-weight: 500;
}

.radio-set {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

.searchBar {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  width: 80%;
}

.seachBox input {
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  color: black;
  font-size: 18px;
  padding: 8px 10px;
  width: 100%;
}
