/* Categories.css individual style by Elisângelo */
.categories {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  top: 12vh;
  width: 100%;
  z-index: 0;
}

.radioCategorie {
  background-color: transparent;
  color: #1c1d1d;
  font-size: 20px;
  font-weight: 500;
  height: 4vh;
  margin: auto;
  min-width: 150px;
  padding: 0 5px;
  text-align: left;
}
