/* Categories.css individual style by Elisângelo */
.categories {
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: auto;
  top: 10vh;
  max-width: 100%;
  /* width: 360px; */
  z-index: 0;
}

.categorie {
  display: flex;
  background-color: transparent;
  height: fit-content;
  margin: 5px 10px;;
}

.categorie button {
  color: #1c1d1d;
  font-size: 15px;
  font-weight: 300;
  width: 25vw;
  max-width: 20vh;
  padding: 5px auto;
  text-align: center;
}