/*
details.css Contribuiter: Elisangelo,

para acessar elementos filhos de uma classe faca:
classeDoElementPai elementoDesejado {
  regras css
}
ex: image-details img {
}
*/

.ingredients-details {
  display: block;
}

.instructions-details {
  display: block;
}

.video-details video {
  border: 1px solid red;
  display: block;
}

.recomendations-details {
  display: block;
}

.card-body {
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  margin: auto;
}

.body-details {
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 1260px;
  width: 100%;
}

.start-recipe-button button , .finish-recipe-button button {
  bottom: 0;
  display: flex;
  position: fixed;
  right: 0;
}

.card-details {
  display: flex;
  height: 15vh;
  justify-content: flex-start;
  margin: 5px auto;
  position: relative;
  text-align: left;
  width: 90%;
}

.icon-favorite img , .icon-share input {
  display: flex;
  margin: 5px auto;
  width: 8vw;
}

.icon-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3vh;
  top: 60vh;
}

.carroussel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  overflow-x: auto;
  position: relative;
  top: auto;
  width: 95%;
}

.carroussel-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 90%;
}

.carroussel img {
  border-radius: 10px;
  padding: 5px;
  width: 45vw;
}

.image-details {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  top: auto;
  width: 100vw;
}

.image-details img {
  background-color: whitesmoke;
  display: flex;
  height: 55vh;
  margin: auto;
  position: relative;
  top: auto;
}
