/* /*
details.css Contribuiter: Elisangelo,

para acessar elementos filhos de uma classe faca:
classeDoElementPai elementoDesejado {
  regras css
}
ex: image-details img {
}
*/

.ingredients-details {
  /* border: 1px solid rgb(110, 52, 52); */
  display: block;
}

.instructions-details {
  /* border: 1px solid rgb(227, 243, 5); */
  display: block;
}

.video-details video {
  border: 1px solid red;
  display: block;
}

.recomendations-details {
  /* border: 1px solid blue; */
  display: block;
}

.card-body {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  /* position: relative; */
  /* position: 10px; */
}

.body-details {
  /* border: 5px solid rgb(143, 132, 132); */
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 1260px;
  margin: auto;
}

.start-recipe-button button , .finish-recipe-button button {
  bottom: 0;
  display: flex;
  position: fixed;
  right: 0;
}

.card-details {
  text-align: left;
  display: flex;
  /* flex-direction: column; */
  height: 15vh;
  margin: 5px auto;
  justify-content: left;
  position: relative;
  top: auto;
  width: 90%;
  line-height: 0vh;
}

.icon-favorite img, .icon-share input {
  display: flex;
  /* font-style: normal; */
  width: 8vw;
  margin: 5px auto;
}

.icon-details {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  position: absolute;
  right: 3vh;
  top: 60vh;
}
.carroussel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  overflow-x: auto;
  position: relative;
  top: auto;
  width: 95%;
}

.carroussel-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 90%;
}

.carroussel img {
  border-radius: 10px;
  padding: 5px;
  width: 45vw;
}

.image-details {
  display: flexbox;
  justify-content: center;
  margin: auto;
  position: relative;
  top: auto;
  width: 100vw;
}

.image-details img {
  background-color: whitesmoke;
  /* border: 1px solid rgb(243, 32, 225); */
  display: flex;
  margin: auto;
  position: relative;
  top: auto;
  height: 55vh;
}
/* .ingredients-details {
  border: 1px solid rgb(110, 52, 52);
  display: block;
}

.instructions-details {
  border: 1px solid rgb(227, 243, 5);
  display: block;
}

.video-details video {
  border: 1px solid red;
  display: block;
}

.recomendations-details {
  border: 1px solid blue;
  display: block;
}

.body-details {
  border: 5px solid rgb(5, 5, 5);
  display: block;
  flex-wrap: wrap;
  width: fit-content;
}

.button-iniciar {
  position: fixed;
}

.card-details {
  border: 1px solid red;
  display: block;
  width: 50%;
}

.carroussel {
  display: flex;
  overflow-x: auto;
}

.image-details {
  height: 20vh;
  width: 50vw;
}

.image-details img {
  background-color: whitesmoke;
  border: 1px solid rgb(243, 32, 225);
  display: block;
  margin: auto;
  width: 97vw;

  border-radius: 5px;
  justify-content: right;
  min-width: 10vw;
  width: 100%;
  flex-direction: column;
  margin: 2vh 1vw;
  overflow: hidden;
  position: static;
  top: 12vw;
}

css atualizado

details.css Contribuiter: Elisangelo,

para acessar elementos filhos de uma classe faca:
classeDoElementPai elementoDesejado {
  regras css
}
ex: image-details img {
}
*/
