/* 
Made by Elisângelo
*/
/* 
.body-page1 {
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
  top: 10vh
}  */

.body-page {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 100vw;
  max-width: 1024px;
  margin:   2vh auto;
  position: relative;
  top: 12vh;
}

.icon-favorite img, .icon-share img {
  display: block;
  font-style: normal;
  width: 10vw;
  margin: 0;
 position: relative;
 z-index: 1;
}

.card-body {
  display: flex;
  height: fit-content;
  justify-content: space-around;
  position: relative;
  top: 2vh;
  width: 95%;
  margin: 5px 5px;
  border-radius: 5px;
  border: 1px solid gray;
  
}

.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: flex-start;
  line-height: 5vh;

}

.icon-favorites {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 2px;
}

.image {
  display: flex;
  justify-content: flex-start;
  
}

.image img {
  background-color: whitesmoke;
  margin: auto;
  width: 35vw;
  position: relative;
  left: 0;
}

.card-details {
display: flex;
text-align: center;
flex-direction: column;
justify-content: space-around;
font-size: 5vmin;

}
 
.favorite {
  display: block;
  color: #1c1d1d;
  /* font-size: 5vmin; */
  font-weight: 300;
  /* max-width: 10vh; */
  /* min-width: 8vw; */
  /* padding: 5px 0; */
  margin: 5px auto;
  text-align: center;
  /* max-width: 50vw; */
  /* position: relative; */
  /* top: 2vh; */
}

.filterByType {
    color: black;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 100%;
    position: relative;
    top: 12vh;
    z-index: 0;
}