.header {
  position: fixed;
  width: 100%;
  z-index: 0;
}

.topbar {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  margin-top: 15px;
  position: relative;
}

.explorer button {
  background-color: transparent;
  border: 0.5px transparent;
  display: flex;
}

.titulo {
  background-color: transparent;
  display: flex;
  font-size: 30px;
  font-weight: 500;
  justify-content: center;
}
