/* Header.css individual style by Elisângelo */
.header {
  background: linear-gradient(to top, transparent 0%, whitesmoke 43%);
  height: 10vh;
  min-width: 360px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.topbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 8vh;
  justify-content: space-around;
  margin-top: 15px;
  position: relative;
  z-index: 2;
}

.explorer button {
  background-color: transparent;
  border: 0.5px transparent;
  display: flex;
}

.titulo {
  background-color: transparent;
  display: flex;
  font-size: 30px;
  font-weight: 500;
  justify-content: center;
}
