.title {
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  height: 25vh;
  width: 100%;
}

.login-page {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
}
.login-input {
  position: relative;
  top: 10vh;
  align-items: flex-end;
  display: flex;
  width: 300px;
  margin: 10px auto;
  height: 10vh;
}
.login-input input {
  border: 1px solid rgb(189, 199, 216);
  border-radius: 50px;
  color: black;
  font-size: 20px;
  padding: 15px 20px;
  width: 100%;
}

.enter {
  display: flex;
  margin: 10px auto;
}

.enter button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0;
  width: 300px;
  border-radius: 50px;
  border: 1px solid green;
  background-color: limegreen;
  color: black;
  position: relative;
  top: 30vh;
}

button:disabled {
  background-color: lightgray;
  border: 1px solid gray;
}
