.title {
  color: rgb(237, 95, 101);
  display: flex;
  font-size: 36px;
  font-weight: 700;
  height: 25vh;
  justify-content: space-around;
  margin-bottom: 10vh;
  margin-top: 8vh;
  width: 100%;
}

.login-page {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.login-input {
  align-items: flex-end;
  display: flex;
  height: 10vh;
  margin: 10px auto;
  position: relative;
  top: 10vh;
  width: 300px;
}

.login-input input {
  background-color: white;
  border: 1px solid rgb(237, 95, 101);
  border-radius: 50px;
  color: black;
  font-size: 20px;
  padding: 15px 20px;
  width: 100%;
}

.enter {
  display: flex;
  margin: 0 auto;
}

.enter button {
  background-color: rgb(237, 95, 101);
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 14vh auto;
  padding: 15px 0;
  position: relative;
  width: 300px;
}

button:disabled {
  background-color: lightgray;
  border: 1px solid gray;
}
