.explore-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 250px;
  margin: auto;
  height: 40%;

}

.email-perfil {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30vh;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
 } 

.buttons button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0;
  min-width: 300px;
  margin: 10px auto;
  border-radius: 50px;
  border: none;
}

.sign-off button{
  background-color: red
}

.favorite button {
    background-color: lime;

}