.explore-buttons {
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  justify-content: space-around;
  margin: auto;
  min-width: 250px;
  width: 100%;
}

.email-perfil {
  align-items: center;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 28vh;
  justify-content: center;
}

.buttons {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.buttons button {
  border: none;
  border-radius: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 10px auto;
  min-width: 300px;
  padding: 15px 0;
}

.sign-off button {
  background-color: red;
}

.favorite button {
  background-color: lime;
}
